
#resetButton {
    margin-left: 5px;
}

#movie-field-one, #movie-field-two, #movie-field-three {
    width: 30%;
}

#movie-field-two, #movie-field-three {
    margin-left: 50px;
}

.action-button {
    width: 150px;
}

.validation-error-message {
    display: inline;
    margin-left: 25px;
    color: red;
}