<form [formGroup]="movieForm">
    <mat-form-field id="movie-field-one"> 
        <mat-label>
            Movie 1:
        </mat-label>
        <input [required]="true" [matAutocomplete]="auto" matInput id="movieOne" type="text" formControlName='movieOne' />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let movie of filteredMovieOptions" [value]="movie['movieName']">
                {{ movie['movieName'] }}
            </mat-option> 
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field id="movie-field-two"> 
        <mat-label>
            Movie 2:
        </mat-label>
        <input [matAutocomplete]="autoTwo" matInput id="movieTwo" type="text" formControlName='movieTwo' />
        <mat-autocomplete #autoTwo="matAutocomplete">
            <mat-option *ngFor="let movie of filteredMovieOptionsTwo" [value]="movie['movieName']">
                {{ movie['movieName'] }}
            </mat-option> 
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field id="movie-field-three"> 
        <mat-label>
            Movie 3:
        </mat-label>
        <input [matAutocomplete]="autoThree" matInput id="movieThree" type="text" formControlName='movieThree' />
        <mat-autocomplete #autoThree="matAutocomplete">
            <mat-option *ngFor="let movie of filteredMovieOptionsThree" [value]="movie['movieName']">
                {{ movie['movieName'] }}
            </mat-option> 
        </mat-autocomplete>
    </mat-form-field>
</form>

<br>
<button class="action-button" (click)="submitMovieForm()" mat-raised-button color="primary">Submit</button>
<button class="action-button" id="resetButton" (click)="resetMovieForm()" mat-raised-button>Reset</button>
<div *ngIf="errorMessage" class="validation-error-message">{{ errorMessage }}</div>
<div *ngIf="movieNameErrorMessage && !errorMessage" class="validation-error-message">{{ movieNameErrorMessage }}</div>