<form [formGroup]="movieForm">
    <label for="movieOne">Movie 1: </label> 
    <input required id="movieOne" type='text' formControlName='movieOne'>
    <br>

    <label for="movieOne">Movie 2: </label> 
    <input id="movieTwo" type='text' formControlName='movieTwo'>
    <br>

    <label for="movieOne">Movie 3: </label> 
    <input id="movieThree" type='text' formControlName='movieThree'>
</form>

<br>
<button (click)="submitMovieForm()">Submit</button>
<button id="resetButton" (click)="resetMovieForm()">Reset</button>

