<div *ngIf="recommendation && recommendation.hasData">
    <mat-card class="recommendation-wrapper">
        <mat-card-content>
            <mat-card-title id="recommendation-title">Recommendation:</mat-card-title>
            <mat-card-subtitle>{{ recommendation.movieName }} ({{ recommendation.movieYear }})</mat-card-subtitle>
        
            <img [src]="recommendation.imgLink">
            <a id="attribution-link" target="_blank" href="https://www.omdbapi.com/">From omdbapi</a>
        </mat-card-content>
    </mat-card>
</div>
