.recommendation-wrapper {
    margin-top: 25px;

    #recommendation-title {
        font-size: 20px;
    }
    
    img {
        max-height: 150px;
    }

    #attribution-link {
        margin-top: 5px;
        display: block;
        font-size: 12px;
    }
}